[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
tzdata = "*"
chess = "*"
mysql-connector-python = "==8.0.26"

[dev-packages]
autopep8 = "*"
